<div class="container">
    <h4>Our Recommendations</h4>
    <ul class="list-group">
      <li class="list-group-item">
        <a class="" href="profiles.html"> Niharika </a>
      </li>
      <li class="list-group-item">
        <a class="" href="profiles.html"> Sahithi </a>
      </li>
      <li class="list-group-item">
        <a class="" href="profiles.html"> Tushar </a>
      </li>
      <li class="list-group-item">
        <a class="" href="profiles.html"> Saiteja </a>
      </li>
      <li class="list-group-item">
          <a class="" href="profiles.html"> Sandesh </a>
        </li>
    </ul>
  </div>
  